<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Ptáček čte tvůj kalendář jen proto, aby ti maskot přeletěl obrazovku před schůzkou. Nic nezapisuje a data neopouští počítač.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Ptáček čte tvůj kalendář jen proto, aby ti maskot přeletěl obrazovku před schůzkou. Nic nezapisuje a data neopouští počítač.</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
